:root{

}
header{
    width: 100vw;
    text-align: center;
}

.nav-bar li{
    list-style: none;
    
    
}
.nav-link{
    text-decoration:none;
    color: black;
}

.main{
    width:90vw;
    margin:auto;
}